{{#if hasChildren}}
  <li>
    {{#floating-mobile-children-wrapper active=childrenActive toggleChildren=(action "toggleChildren")}}
      {{yield}}
    {{/floating-mobile-children-wrapper}}
  </li>
  <li>
    <button {{action "toggleChildren"}} class="pure-button pure-button-primary floating-button {{if childrenActive "enabled" "disabled"}}" >
      <span class="floating-button-icon-plus"></span>
    </button>
  </li>
{{else}}
  <li>
    {{yield}}
  </li>
{{/if}}
